# IPython
__pycache__/
*.ipynb_checkpoints*

# VS code
.vscode/

# common env and venv
venv/
env/
.env
.venv

# PycharmProjects
.pytest_cache
.vscode
.idea/*
*/.idea/*
*.egg-info

# pipeline files
soundbay/runs
soundbay/logs
*last.pth
*best.pth
outputs/*
.misc

# redundant formats
*.zip

# outputs
outputs/
/soundbay/.null/inference.log
