numba>=0.54.0
numpy==1.*
librosa>=0.9.0
tqdm==4.*
pydantic==2.*
pytest>=5.4.1
scikit-learn>=0.22.1
omegaconf==2.*
soundfile==0.*
pandas>=1.0.3
wandb>=0.12.0
beautifulsoup4>=4.9.1
joblib>=1.0.0
lxml>=4.4.0
PyQt5>=5.14.0
future-fstrings>=1.0.0
boto3>=1.20.0
matplotlib>=2.0.0
audiomentations==0.26.0
click==8.*
botocore==1.*
transformers==4.*
dropbox
