name: CI test

on:
  pull_request:
    types: [labeled]

jobs:
  ci-test:
    if: ${{ github.event.label.name == 'ci-test' }}
    runs-on: ubuntu-22.04

    steps:
      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-v4-${{ hashFiles('**/requirements.txt') }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies and run tests
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -U pip
          pip install torch torchvision torchaudio transformers[torch]
          pip install -e .
          pip install --upgrade transformers
          pytest
